* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f1ffe8;
    color: black;
}

/*header*/
nav.navigation {
    background-color: #69cc30;
    color: white;
    padding: 15px;
    text-align:right;
    justify-content: space-between;
}

nav.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav.navigation a:hover {
    text-decoration: underline;
}

nav.navigation button {
    background-color: #fff;
    color: #69cc30;
    border: 2px solid #69cc30;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

nav.navigation button:hover {
    background-color: #69cc30;
    color: white;
}

/*sections*/
.apresentacao {
    background-color: #fff;
    padding: 60px 20px;
    min-height: 100vh; 
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.apresentacao h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.apresentacao p {
    font-size: 1.2rem;
    color: #555;
}

.informacoes {
    padding: 40px 20px;
    background-color: #f9fafb;
    min-height: 100vh; 
}

/*section sobre*/
.sobre-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9fafb;
    border-radius: 8px;
    min-height: 100vh; 
}

.sobre-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.sobre-container p {
    font-size: 1.1rem;
    color: black;
    line-height: 1.6;
}

/*section equipe*/
.equipe-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9fafb;
    border-radius: 8px;
    min-height: 100vh; 
}

.equipe-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.equipe-container p {
    font-size: 1.1rem;
    color: black;
    line-height: 1.6;
}

@media (max-width: 768px) {
    nav.navigation a {
        font-size: 14px;
    }

    nav.navigation {
        padding: 10px;
    }

    .apresentacao h1 {
        font-size: 2rem;
    }

    .apresentacao p {
        font-size: 1rem;
    }

    .sobre-container h2 {
        font-size: 1.8rem;
    }

    .sobre-container p {
        font-size: 1rem;
    }
}
